*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.col{
    height: 50px;
    background-color: #cccccc;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 50px;
    background-clip: content-box;
}
.this{
    background-color: green;
    transition: all 0.5s linear;
    filter: grayscale(100%);
}
.this:hover{
    filter: grayscale(0%);
}